
img{
width: 100px;
height: 100px;
border-radius: 100%;
}

form{
    border-style: dotted;
    background: #0e1116;
    color: #f2f2de;
    
}
form input{
    border-radius: 20%;
    background: #d6ddff;
}


form textarea{
    border-radius: 20%;
    background: #d6ddff;
}

form select{
    border-radius: 20%;
    background: #d6ddff;
}

form label{
    color: #f2f2de;
}



hr{
    border: dotted solid #EAF6F6;
    width: 6px;
    border-bottom: none;
    width: 4%;
    margin-left: 100px;
    margin-right: 100px;
}

body{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    background: #f2f2de;
}

h1{
    color: #0e0e10;
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5.5rem;
    margin:50px
}

h2{
    color: #1e202f;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3{
    color: #353249;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: darkred;
}

a:hover{
    color:green;
}

p{
    color: #0e1116;
}

blockquote{
    color: #0e1116;
}


label{
    color: #0e1116;
}

caption{
    color: #0e1116;
}


.destImg{
    width: 100px;
    height:100px;
    padding: 6px;
    border: 2px solid #0e1116;
    border-radius:100%;
    
}
#Index{
    color:darkred;
}
.flags{
    padding: 6px;
    border: 2px solid #0e1116;
    width: 100px;
    height:100px;
    border-radius:100%;
}

#GoBack{
    text-align: right;
}

.CountryFormat{
    vertical-align: top;
    width: 100%;
    color:#0e1116;
}

ol li{
    text-decoration: dotted;
    color:darkred;
}

ul li{
    text-decoration: dotted;
    color:darkred;
}

#TableLink{
    font-size: 10px;
    font-style: italic;
}
h2{
    border-bottom: 3px dotted #a3a3a3;
}
h2:hover{
    border-bottom: 6px dotted #0f2512;
}

.TablaNombre{
    vertical-align: top;
    vertical-align: baseline bottom;
    width: 0.1%;
    white-space: nowrap;
}



.FormatTable{
    vertical-align: top;
    text-align: center;
    width: 100%;
    
}

table tbody td ul li{
    color: #0e1116;
}
.FormatTable tbody ul li{
    vertical-align: top;
    text-align: left;
    width: 100%;
}

.FormatTable i{
    font-size: 11px;
}

.FormatTable thead tr:nth-child(1){
    background-color: #0e1116;
    color: #f2f2de;
    font-style: italic;
    font-weight: bold;
}

.FormatTable tbody{
    color:#0e1116;
}

.AgendaTable{
    vertical-align: top;
    text-align: left;
    width: 100%;
    
}

.AgendaTable thead tr:nth-child(1){
    color: #f2f2de;
    background-color: #0e1116;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

.AgendaTable tbody {
    color: #0e1116;
}

.AgendaTable tbody tr:nth-child(even){
    color:#f2f2de;
    background-color:#0e1116;
}

.AgendaTable tbody img{
    width: 100px;
    
}

.AgendaTable tbody tr td:nth-child(9){
    text-align: center;
}

#FormatPhoto{
    width: 100px;
}

#FormatPhoto2{
    width: 100px;
}

#FormatPhoto2{
    width: 100px;
}
   
.Table_Photo{
    text-align: left;
    vertical-align: bottom;
    width: 0.1%;
    white-space: nowrap;
}

.NormalTable tbody tr:nth-child(even){
    color:#f2f2de;
    background-color:#0e1116;
}

.NormalTable tbody tr:nth-child(odd){
    color:#0e1116;
    
}

.NormalTable thead{
    color:#f2f2de;
    background-color:#0e1116;
    
}

/*
tbody tr:nth-child(even){
    color:white;
    background-color:gray;
}
*/

p{
    padding: 1px;
    margin: 8px;
    border: 10px /*solid black*/;
}

.SubButton{
    /*
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 45%;
    padding-right: 45%;
    */
    padding: 20%;
    border-radius: 100%;
    border-color: #0e1116;
    box-shadow: none;
    border-style: solid;
    color: #0e1116;
    background-color: none;
}

#Div1{
    background: #f2f2de;
}
#Div2{
    background: #eaf2de;
}
#Div3{
    background: #e0f2de;
}
#Div4{
    background: #c8fff9;
}
#Div4{
    background: #afd9ee;
}
#Div5{
    background: #b6eac2;
}
#Div6{
    background: #aee1b0;
}
#Div7{
    background: #c0ddbb;
}
#Div8{
    background: #cae6c5;
}
#Div9{
    background: #d3eacf;
}
#Div10{
    background: #e1f4dd;
}
#Div11{
    background: #fffdcf;
}



.column {
    margin:auto;
    float:left;
    width: 31%;
    height: 500px;
    margin-bottom: 10px;
    padding: 0 8px;
  }
  

  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding-left: 2%;
    padding-right: 2%;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  

.mountain{
  background-image: url("../images/mountain.png");
  width:100%;
  height: 100hv;
  background-position: center; 
  background-size: cover; 
  background-attachment: fixed;
}

.cloud{
    height: 50px;
    width: 100px;
    position: sticky;
    top: 10px;
    border-radius: 0%;
}


.dest_info{
    display:inline-block;
}

.img1{
    visibility: none;
}

.img2{
    visibility: hidden;
}

.img3{
    top: -20px;
    left: 40px;
    visibility: inherit;
    position: relative;
}

.img4{
    top: -20px;
    left: 40px;
    visibility: absolute;
    position: relative;
}


.img5{
    top: -20px;
    left: 40px;
    visibility: absolute;
    position: fixed;
}

.content{
    text-align: justify;
}

/*
.dest_info{
    display: inline-block;
}
*/