body {
    background-color: rgb(17, 17, 17) !important;
    color: beige !important;
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.formT input{
    border-radius: 5px;
    color: beige;
    background-color: rgb(10, 10, 10);
}

.formT select{
    border-radius: 5px;
    color: rgb(120, 118, 118);
    background-color: rgb(10, 10, 10);
}

html {
    min-height: 100%;
    position: relative;
}

.saveBtn{
    width:100px;
    height:70px;
    position:fixed;
    right: 2%;
    top: 10%;
    z-index: 9999;
}

.saveBtn button{
    width:100%;
    height:100%;
    border-radius: 5px;
    color: rgb(120, 118, 118);
    background-color: rgba(10, 10, 10, 0.888);
    border: none;
    box-shadow: 0px 0px 3px rgba(245, 245, 220, 0.125);
    transition: 0.2s ease-in-out;
}

.saveBtn button:hover{
    scale: 1.05;
    color: #d10808;
    background-color: beige;
}

.driverTable{
    width: 100%;
    text-align: center;
}

.driverTable i{
    font-weight: 100;
    margin-left: 10%;
    padding: auto;
    font-size: smaller;
    color: #d10808;
    display: none;
}

.driverTable tbody tr{
    transition: 0.1s ease-in-out;
}

.driverTable tbody tr:hover{
    scale: 1.007;
}

.driverTable tbody tr:hover td{
    background-color: #d10808;
}

.driverTable tbody tr td:hover i{
    display: inline;
}

.driverTable tbody tr td i:hover {
    font-weight: 700;
}

.driverTable tbody tr td:hover{
    background-color: beige;
    color: #d10808;
    font-weight: 600;
}

.driverTable thead th{
    width: 11%;
    background-color: #d10808;
}

.driverTable thead th:nth-child(1){
    border-top-left-radius: 15px;
}

.driverTable thead th:nth-child(8){
    border-top-right-radius: 15px;
}

.driverTable tbody td:nth-child(even){
    background-color: rgb(10, 10, 10);
}

.logo{
    position: absolute;
    top: 4%;
    left: 45%;
}
.logo img{
    width: 40%;
}

h1, h2{
    font-weight: 300;
}

img {
    width: 80px;
}

#num,
#code {
    width: 35px;
}

form input,
select {
    border-style: none;
}

input[type=text]:focus {
    border: 4px solid #d10808;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 21px;
    margin-top: 20%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(10, 10, 10);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 65%;
    width: 37%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #d10808;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50px;
  }