/* Gradient Background */
.gradientBackground {
  background: linear-gradient(300deg, #feffff, #070100, #ff4c68);
  background-size: 180% 180%;
  animation: gradientAnimation 18s ease infinite;
}

@media (min-width: 768px) {
  .gradientBackground h1 {
    color: white !important;
    font-size: 45px !important;
  }
  .gradientBackground > .py-5 {
    display: flex;
    padding-top: 5rem !important;
    padding-bottom: 0 !important;
    margin: 0 80px;
    width: 100%;
  }
  .gradientBackground .py-5 {
    justify-content: center;
  }
  .gradientBackground .text-center {
    text-align: left !important;
  }
  .gradientBackground .colLg7 {
    width: 90% !important;
  }
  .buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-right: 390px;
  }
  .downloadButton {
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 130px;
  }
  .btnLight {
    background-color: white;
  }
  .btnOutlineLight {
    background-color: rgba(0, 0, 0, .1);
    color: white;
    border-color: white;
  }
  .downloadButton img {
    width: 13%;
    margin-left: 15px;
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .gradientBackground h1 {
    color: white !important;
    font-size: 25px !important;
    padding-right: 100px;
  }
  .gradientBackground > .py-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem !important;
    padding-bottom: 0 !important;
    margin: 0 80px;
    width: 100%;
  }
  .gradientBackground .py-5 {
    justify-content: center;
  }
  .gradientBackground .text-center {
    text-align: left !important;
  }
  .gradientBackground .colLg7 {
    width: 90% !important;
  }
  .buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
  }
  .downloadButton {
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 150px;
  }
  .btnLight {
    background-color: white;
  }
  .btnOutlineLight {
    background-color: rgba(0, 0, 0, .1);
    color: white;
    border-color: white;
  }
  .downloadButton img {
    width: 13%;
    margin-left: 15px;
    margin-right: 5px;
  }
}

/* Keyframes for Gradient Animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Features Section */
@media (min-width: 768px) {
  #features .py-5 .py-5 {
    justify-content: space-between;
    padding: 3rem 3rem !important;
  }
  #features .py-5 .py-5 > div {
    width: 33%;
  }
  #features .py-5 .py-5 > div > * {
    margin: 0 5px;
  }
  #features .py-5 .py-5 p {
    font-size: 14px;
    margin-bottom: 0 !important;
    position: relative;
    top: 10px;
  }
}

@media (max-width: 768px) {
  #features .py-5 .py-5 {
    flex-direction: column;
    padding: 3rem 3rem !important;
  }
  #features .py-5 .py-5 > div {
    width: 100%;
    margin: 100px 0;
  }
  #features .py-5 .py-5 > div > * {
    margin: 0 5px;
  }
  #features .py-5 .py-5 p {
    font-size: 14px;
    margin-bottom: 0 !important;
    position: relative;
    top: 10px;
  }
}

/* Testimonial Section */
#testimonial .container .p-5 {
  background-color: white !important;
}

#testimonial .container .p-5 figure img {
  border-radius: 100px;
  width: 70px;
  margin-top: 40px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #testimonial .container .p-5 .col-3 {
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
  }
}

@media (max-width: 768px) {
  #testimonial .container .p-5 .col-3 {
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
  }
  #testimonial .container .p-5 .col-3 img {
    margin: 30px 0;
    width: 50px !important;
    height: 50px !important;
  }
}

#testimonial .container .p-5 .col-3 img {
  height: 90px;
}

/* Pricing Section */
@media (min-width: 768px) {
  main {
    display: flex;
    justify-content: center;
  }
  main > .row {
    width: 80%;
  }
}

main .border-primary {
  --bs-border-opacity: none !important;
}

main .text-bg-primary {
  background-color: #070100 !important;
}

main .btn-primary {
  --bs-btn-bg: #070100 !important;
  --bs-btn-border-color: none !important;
  --bs-btn-hover-bg: #070100 !important;
  --bs-btn-active-bg: gray !important;
  --bs-btn-active-border-color: gray !important;
}

main .btn-outline-primary {
  --bs-btn-color: gray !important;
  --bs-btn-hover-color: gray !important;
  --bs-btn-border-color: gray !important;
  --bs-btn-hover-bg: none !important;
  --bs-btn-hover-border-color: gray !important;
  --bs-btn-active-bg: gray !important;
  --bs-btn-active-border-color: gray !important;
}

/* Footer Section */
#footer {
  display: flex;
  justify-content: center;
}

#footer .text-body-secondary {
  color: white !important;
}

#footer .space {
  margin-right: 200px;
}

#footer .my-5 {
  margin-bottom: 0 !important;
}

#footer .container {
  margin: 0;
}

#footer a, h5 {
  color: white !important;
}

.container .border-top {
  border-top: none !important;
}

/* Bootstrap Placeholders */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Example Divider */
.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528cc;
  --bs-btn-hover-border-color: #6528cc;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #6528cc;
  --bs-btn-active-border-color: #6528cc;
}

.text-bg-dark {
  background-color: #070100 !important;
}

.card {
  border-radius: 25px !important;
}

.bg-light {
  background-color: #f4f4f4 !important;
}

.form-control {
  border-radius: 10px !important;
  background-color: rgba(0, 0, 0, .1);
  border-color: rgba(0, 0, 0, .15) !important;
}
