html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: beige !important;
}

.blogPost p{
    white-space: normal;  
    word-wrap: break-word; 
    overflow-wrap: break-word;
}