body {
    margin: 0;
}

div{
    width: 200px;
    height: 200px;
}

#Red1{
    background: crimson;
}

#Red2{
    background: crimson;
    position: absolute;
    top: 281px;
    left: 200px;
}

#Red3{
    background: crimson;
    position: absolute;
    top: 481px;
    left: 400px;
}

#Blue1{
    background: darkblue;
    position: absolute;
    top: 281px;
}

#Blue2{
    background: darkblue;
    position: absolute;
    top: 481px;
    left: 200px;
}

#Blue3{
    background: darkblue;
    position: absolute;
    top: 681px;
    left: 400px;
}

#Yellow1{
    background: yellow;
    position: absolute;
    top: 481px;
}

#Yellow2{
    background: yellow;
    position: absolute;
    top: 681px;
    left: 200px;
}

#Yellow3{
    background: yellow;
    position: absolute;
    top: 881px;
    left: 400px;
}